@import url(https://fonts.googleapis.com/css?family=Exo:100);

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: #999;
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    text-align: center;
    font-weight: 600;
    overflow: hidden;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(255, 255, 255) 50%, rgb(231, 231, 231) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.titulo-form {
    position: absolute;
    width: 100%;
    top: 0%;
    z-index: 2;
    /* Un valor más alto para que esté por encima de los contenedores */
    font-size: 35px;
}

.error-form {
    position: absolute;
    width: 100%;
    top: 6%;
    z-index: 2;
    color: #ffa42d;
    /* Un valor más alto para que esté por encima de los contenedores */
}


.progresbar {
    width: 30%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 11%;
    z-index: 2;
    counter-reset: step;
    /* Un valor más alto para que esté por encima de los contenedores */
}

.progresbar-option {
    width: 100%;
    position: relative;
}

.progresbar-option:before {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #999;
    content: counter(step);
    counter-increment: step;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: transparent;
    margin: auto;
    position: relative;
    z-index: 2;
}

.act-pb:before, .act-pb:after{
    border-bottom: solid 2px #00eeff;
}

.progresbar-option:after {
    display: block;
    content: "";
    width: 87%;
    height: 1px;
    background-color: #999;
    position: absolute;
    top: 10px;
    left: -43%;
    z-index: 1;
}
.progresbar-option:nth-child(1):after {
    content: none;
}

.formulario-1 {
    display: flex;
    width: auto;
    height: auto;
}

.contenedor-pasos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    /* Ancho deseado del contenedor */
    /* Agrega más estilos según sea necesario */
}

.step-active {
    opacity: 1;
    z-index: 2;
    pointer-events: all;
    transition: all 1s ease;
}

.seccion {
    font-size: 22px;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-text {
    width: 300px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    margin-top: 15px;
}

.input-text input {
    width: 100%;
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    border-bottom: solid 1px #999;
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    transition: all 0.2s ease;
}

.input-text select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    border-bottom: solid 1px #999;
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    transition: all 0.2s ease;
}

.select1 {
    position: absolute;
    right: 10px;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.input-text>span {
    position: absolute;
    padding-left: 20px;
    transition: all 0.3s ease;
}


.input-text>input~.active {
    transform: translateY(-17px);
    font-size: 12px;
    background-color: transparent;
    color: #999;
    transition: all 0.3s ease;
}

.input-text>input~.val {
    color: #00eeff !important;
}

.inp-active {
    border-bottom: solid 1px #00eeff !important;
    transition: all 0.2s ease;
}

.date-active {
    border-bottom: solid 1px #00eeff !important;
    color: #00eeff;
    transition: all 0.2s ease;
}

.boton-sig {
    width: 150px;
    height: 40px;
    margin: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    border: solid 1px #999;
    border-radius: 20px;

    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    cursor: pointer;
    transition: all 0.1s ease;
}

.boton-sig:hover {
    border: solid 3px #00eeff;
    color: #00eeff;
    transition: all 0.1s ease;
    font-weight: 600;
}

.boton-final {
    width: 150px;
    height: 40px;
    margin: 10px;
    background-color: #00eeff;
    outline: none;
    border: none;
    border-radius: 20px;
    color: white;
    font: 600 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    cursor: pointer;
    transition: all 0.1s ease;
}

.boton-final:hover {
    transition: all 0.1s ease;
    font-weight: 1000;
    transform: scale(1.04);
}

.error-div {
    font-size: 12px;
    color: #ffa42d;
}

.check-div {
    border: solid 1px #999;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease;
}

.check-div:hover {
    border: solid 1px #00eeff;
    transition: all 0.1s ease;
    cursor: pointer;
}

.check-active {
    border: solid 1px #00eeff;
    transition: all 0.1s ease;
}

.check-val {
    display: none;
}

.check-div>label {
    margin: auto;
}

.check-div>label:hover {
    cursor: pointer;
}

.lab-check-active {
    color: #00eeff;
}

.input-check {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.switch {
    padding: 2px;
    width: 44px;
    border-bottom: solid 1px #999;
    border-radius: 20px;
    display: block;
    transition: all 0.2s ease;
    cursor: pointer;
}

.switch-act {
    transition: all 0.2s ease;
    border-bottom: solid 1px #00eeff;
}

.prueba {
    display: none;
}

.slider {
    height: 20px;
    display: block;
    width: 20px;
    border-radius: 50%;
    border: solid 1px #999;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s ease;
    cursor: pointer;
}

.slider-act {
    transform: translateX(22px);
    transition: all 0.2s ease;
    cursor: pointer;
    border: solid 1px #00eeff;
}

.radio-div {
    border: solid 1px #999;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.radio-div:hover {
    border: solid 1px #00eeff;
    transition: all 0.1s ease;
    cursor: pointer;
}

.radio-active {
    border: solid 1px #00eeff;
    transition: all 0.1s ease;
}

.radio-val {
    display: none;
}

.radio-div>label {
    margin: auto;
}

.radio-div>label:hover {
    cursor: pointer;
}

.lab-radio-active {
    color: #00eeff;
    font-weight: 600;
}

.input-radio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    place-items: center;
    position: relative;
    width: 100%;
}